argon2-cffi==19.2.0
asgiref==3.2.7
bcrypt==3.1.7
boto3==1.16.9
botocore==1.19.9
certifi==2020.6.20
cffi==1.14.0
chardet==3.0.4
dj-database-url==0.5.0
Django==3.0.5
django-debug-toolbar==3.1.1
-e git+git@github.com:twpride/django-storages.git@adeb2afb861ebc3b2719e098b43ea8d10e9f0781#egg=django_storages&subdirectory=../../django-storages
dropbox==10.8.0
gunicorn==20.0.4
idna==2.10
jmespath==0.10.0
psycopg2-binary==2.8.5
pycparser==2.20
python-dateutil==2.8.1
pytz==2020.1
requests==2.24.0
s3transfer==0.3.3
six==1.14.0
sqlparse==0.3.1
urllib3==1.25.11
uWSGI==2.0.19.1
whitenoise==5.0.1
