.card {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  cursor: pointer;
  position: relative;
  display: flex;
  background-repeat: no-repeat;
  width: 170px;
  height: 260px;
  max-height: 260px;
  flex-direction: column;
  padding-top: 1em;
  background-position: center 74.28571px;
  background-size: 200%;
  border: 1px solid #d4cbc7;
  box-shadow: 0 2px 9px 0 rgba(0,0,0,.17);
  margin-bottom: 25px;
  margin-right: 25px;
}

.item-details {
  z-index: 2;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  padding-left: .5em;
  padding-right: .5em;
  align-items: center;
}

.item-name {
  font-family: Trade Gothic LT Bold;
  font-weight: 700;
  display: flex;
  align-items: center;
  color: #451400;
  text-transform: uppercase;
  text-align: center;
  font-size: 18px;  
}


.cost {
  font-family: Nunito;
  font-weight: 700;
  color: #786259;
  font-size: 14px;
  display: flex;
  align-items: center;
  margin-top: 5px;
  white-space: nowrap;  
}

.item-cost{
  white-space: nowrap;
  flex: 0 0 auto;
  min-width: unset;
  margin-right: 0;  
}

.spacer {
  flex: 1 1 100%;  
}



.selection-icon-button {
  font-family: Nunito;
  user-select: none;
  cursor: pointer;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 5em;
  border: 2px solid #fff;
  bottom: 90px;
  background-color: #b68207;
  left: 15px;
  margin-left: 5px;
  margin-right: 5px;

}

.quantity {
  font-family: Nunito;
  color: #fff;
  font-weight: 500;
  font-size: 24px;  
}

.quantity-button-container {
  font-family: Nunito;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  right: 70px;
  position: unset;
  bottom: unset;
  left: unset;  
}

.selection-container {
  display: flex;
  align-items: center;
  width: 170px;
  height: unset;
  justify-content: center;
  opacity: 1;
  position: absolute;
  bottom: 90px;
  z-index: 4;  
}

.card-footer {
  z-index: 2;
  flex: 0 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  height: 1.5em;
  border-top: 1px solid #d4cbc7;
  background-color: #fff;  
}

.item-calories {
  font-family: Nunito;
  font-weight: 700;
  color: #786259;
  font-size: .75em;
}

.check {
  position: relative;
  width: 20px;
  height: 10px;
  transform: rotate(-45deg);
  border-left: 4px solid #fff;
  border-bottom: 4px solid #fff;
  top: -1px;
}

.card-overlay{
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 170px;
  height: 260px;
  background-color: rgba(247,242,237,.8);
  z-index: 5;
}

.card-overlay:hover {
  opacity: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 170px;
  height: 260px;
  background-color: rgba(247,242,237,.8);
  z-index: 5;
}

.title {
  -webkit-box-direction: normal;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  font-family: Trade Gothic LT Bold,Helvetica Neue,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
  font-weight: 700;
  color: #451400;
  text-transform: uppercase;
  padding: 0;
  background-color: unset;
  font-size: 1.5em;
  margin-bottom: .2em;  
}

.subtitle {
  -webkit-box-direction: normal;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  font-family: Nunito,Helvetica Neue,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
  display: unset;
  margin-top: .6em;
  color: #786259;  
}

.category-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

.cards-container {
  display: flex;
  flex-flow: row wrap;
}

.builder {
  width: 100%;
  max-width: 1200px;
  padding-left: 100px;
  padding-right: 100px;
}
