.login-form-container {
  width: 400px;
  margin: 40px auto;
  z-index: 10;
}

img.sign-in-logo {
  width: 6em;
  margin: 0 auto;
  z-index: 10;
}

.login-form-box {
  display: flex;
  flex-direction: column;
  z-index: 10;
}

.modal-img {
  height: 100px;
  z-index: 10;
}


h1.login-signup {
  font-size: 2.1rem;
  line-height: 1em;
  font-family: "Trade Gothic LT Bold";
  color: #451400;
  text-align: center;
  z-index: 10;
}

.login-input {
  margin-bottom: 20px;
  font-family: "Nunito";  
  z-index: 10;
}

.login-input div{
  font-size: .7em;
  margin-bottom: .1em;
  z-index: 10;
}

.login-input input{
  -webkit-box-flex: 0;
  flex: 0 0 100%;
  width: 100%;
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid rgba(69,20,0,.2);
  font-size: 1em;
  outline: none;
  z-index: 10;
}

.submit-button {
  font-family: "Trade Gothic LT Bold";
  font-size: 1.2rem;
  height: 48px;  
  color:white;
  background-color: #451400;
  cursor: pointer;
  z-index: 10;
}

.seperator {
  border-bottom:1px solid #d4cbc7;
  height: 0;
  margin: 2em 0 2em 0;
  z-index: 10;
}

.create-account .button {
  font-family: "Trade Gothic LT Bold";
  font-size: 1.2rem;
  height: 48px;  
  background-color: transparent;
  color: #451400;
  border: 1px solid;
  text-align: center;
  line-height: 48px;
  cursor: pointer;
  z-index: 10;
}

.create-account .heading {
  font-family: "Trade Gothic LT Bold";
  font-weight: 700;
  color: #451400;
  text-transform: uppercase;
  font-size: 2.1rem;
  line-height: 1em;
  font-weight: 500;
  text-align: center;
  z-index: 10;
}

.create-account .subheading {
  font-family: "Trade Gothic LT Bold";
  font-weight: 700;
  font-size: 1.2em;
  letter-spacing: 0;
  margin-bottom: 1.1em;
  color: #786259;
  text-align: center;
  z-index: 10;
}

.sign-in-redirect {
  display: flex;
  flex-direction: row;
  font-family: "Trade Gothic LT Bold";
  font-weight: 700;
  color: #451400;
  font-size: 1.125em;  
  justify-content: space-between;
  margin-top: 27px;
  padding: 0 2.25em;
  z-index: 10;
}


.sign-in-redirect .link-to-sign-in {
  color: #b68207;
  text-decoration: underline;
  cursor: pointer;
  z-index: 10;
}

.form-error {
  font-family: "Nunito";
  line-height: 1em;
  width: 100%;
  margin: .75em 0;
  text-align: center;
  font-size: .75em;
  color: #d0021b;
  z-index: 10;
}