a.logo{
  margin-left: 10px;
  margin-right: 10px;
}


.nav {
  display: flex;
  align-items: center;

  min-height: 100px;
  justify-content: space-between;
  /* font-size: 20px; */
  width: 100%;
  z-index: 10;
}


.modalclass {
  z-index: 10;
}

.nav-logo {
  height: 48px;
  width: 48px;
}

img.logo {
  width: 80px;
}

img {
  display: block;
}

.user-button {
  display: flex;
  align-items: center;
  color: #786259;
  font-size: .8rem;
  letter-spacing: .05em;
  font-family: Nunito;
  font-weight: 700;
  cursor: pointer;
  text-transform: uppercase;
}

    
    

.left-nav {
  display: flex;
}


.pickup-button {

  display: flex;
  align-items: center;
  min-width: 200px;
  min-height: 40px;
  border-radius: 1.5rem;
  border: burlywood solid 1px;
}

.pickup-button img {
  margin-left: 10px;
  height: 20px;
}

.pickup-button div div.text{
  font-size: .75rem;
  font-weight: 300;
  letter-spacing: 0.13rem;
}

.pickup-button div.sep{
  border-right: 1px black solid;
  height: 16px;
  margin-left: 8px;
  margin-right: 12px;

}

.pickup-button div div.address{
  font-size: .8rem;
  font-weight: bold;
  max-width: 115px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}


.cart {
  position: relative;
}




.cart .cart-badge{
  height: 18px;
  width: 18px;
  background-color: red;
  border-radius: 30px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 12px;
  right: 10%;
  top: 20%;
}