a.logo{
  margin-left: 10px;
  margin-right: 10px;
}


.nav {
  display: flex;
  align-items: center;

  min-height: 100px;
  justify-content: space-between;
  /* font-size: 20px; */
  width: 100%;
  z-index: 10;
}


.modalclass {
  z-index: 10;
}

.nav-logo {
  height: 48px;
  width: 48px;
}

img.logo {
  width: 80px;
}