<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="manifest" href="manifest.json">
  {% csrf_token %}
  {% load static %}
  <!-- <link rel="icon" href="{% static "icon/favicon.ico" %}" /> -->
  <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
  <title>Document</title>
</head>

<body>
  <div id="root">
    Frontend not working
  </div>
</body>
<link rel="stylesheet" href="{% static "stylesheets/index.css" %}">
<script type="text/javascript"> window.currentUser = {{ response | safe }} </script>
<script type="text/javascript" src="{% static "bundles/bundle.js" %}"></script>
</html>