<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% csrf_token %}
  {% load static %}
  <title>Document</title>
</head>

<body>
  <div id="root">
    Frontend not working
  </div>
  <link rel="stylesheet" href="{% static "stylesheets/index.css" %}">
  <script type="text/javascript"> window.currentUser = {{ response | safe }} </script>
  <script type="text/javascript" src="{% static "bundles/bundle.js" %}"></script>
</body>

</html>